@font-face {
    font-family: Prociono;
    src: url("Prociono.otf") format("opentype");
}

body {
    background-color:#a63100;
}

.toplevel_table {
    margin:auto;
    width:50%;
    background-color:#ff4c00;
    border-spacing:0px;
}

.heading {
    font-family: Prociono;
}

.inputs {
    vertical-align:center;
    background-color:#ffbe00;
}

#xlit_key_label {
    float:right;
    margin-right:40px;
    font-size:70%;
}

.outputs {
    margin:auto;
    font-size:200%;
    color:#fff;
    width:10em;
}

.matches a:link {
    text-decoration:none;
}

.matches ul {
    list-style-type: circle;
}

.matches {
    margin:auto;
    font-size:200%;
    color:#fff;
    width:10em;
}

.xlit_key_display {
    background-color:#ffdb73;
    margin:auto;
    width:27em;
}

dl {
    float: left;
}

dd {
    float:left;
}

dt {
    float:left;
}
