@font-face {
    font-family: Prociono;
    src: url("Prociono.otf") format("opentype");
}

body {
    padding-top: 60px;
}

label {
    float:left;
    padding-right:5px;
}

.heading {
    font-family: Prociono;
}

.result {
    font-size: 200%;
}

.match_list {
    font-size: 200%;
}

.pad_text {
    padding: 10px;
}

.xlit_key_display {
    font-size: 150%;
}
